@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: burlywood;">Welcome</h1>
    <p><a asp-area="" asp-controller="RegisterUser" asp-action="Index">Registration</a></p>
</div>
